/cache/**
/.env
/cache/
/.idea/**
/.idea
/.DS_Strore/**
/.DS_Store
/logs/**
/data/models/**
/outputs/**
research_code/__pycache__/
research_code/dl/__pycache__/
research_code/dataset/__pycache__/
/ohsome_log/**
